/* Tutorial FD Web Design di YT*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container
{
    position: relative;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, #0d1321,#1d2d44,#3e5c76);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: bg 10s ease infinite;
    overflow: hidden;
}
.wave-body
{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 92%;
    transform: translateX(-50%);
}
.wave
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.25);
    width: 200%;
    height: 200%;
    border-radius: 50%;
    animation: wave 8s linear infinite alternate;
    z-index: 1;
}
.wave:nth-child(2)
{
    animation-delay: -10s;
    opacity: 0.5;   
}
.wave:nth-child(3)
{
    animation-delay: -4s;
    opacity: 0.1;
}
.wave:nth-child(4)
{
    animation-delay: -6s;
    opacity: 0.2;   
}
.wave:nth-child(5)
{
    animation-delay: -14s;
    opacity: 0.4;
}
.wave:nth-child(6)
{
    animation-delay: -12s;
    opacity: 0.3;
}
@keyframes bg
{
    0%,100%
    {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 100% 100%;
    }
}
@keyframes wave 
{
    0%
    {
        transform:translateX(-23%);
    }
    100%
    {
        transform: translateX(23%);
    }
}



.foto {
    position: fixed;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;   
    left: 0;
    width: 10%;
    animation: translate 60s infinite linear;
}

.foto img {
    width: 150px; 
    min-height: 150px; 
    max-height: auto;
    object-fit: cover; 
    border-radius: 50%; 
    border: 2px solid #000; 
}

.nama p,
.telp p,
.email p,
.alamat p,
.sekolah p,
.skill p {
    margin-top: 20px;
}

    

.nama,
.telp,
.email,
.alamat,
.sekolah,
.skill {
        width: 500px;
    height: 300ox;
    margin: 20px auto;
    background: rgba(250, 249, 246, 0.2);
    backdrop-filter: blur(2px), opacity(50%);
    text-align: center;
    padding: 35px;
    border: 1px black solid;
}

.box1,
.box2,
.box3 {
    display: flex;
}

@keyframes upDown {
  to { transform: translatey(-40px);}
}
@keyframes translate {
  to { transform: translatex(1000%);}
}


.image {
  position:absolute;
  animation: upDown 1.5s alternate infinite ease-in-out;
  width:100%;
}

